<div class='container'>
  <footer class="footer">
    <small>
      Copyright &copy; <a href="google.com"> Go to Google</a>
      by <a href="outlook.com"> Go to email</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path%></li>
      </ul>
    </nav>
  </footer>
</div>
